<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button color="danger" (click)="reset()">
        Reset
      </button>
    </ion-buttons>
    <ion-title>Ionic CropperJS</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="danger" (click)="clear()">
        <ion-icon name="close"></ion-icon>
      </button>
      <button ion-button icon-only color="secondary" (click)="save()">
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
