<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button color="danger" (click)="reset()">
        Reset
      </button>
    </ion-buttons>
    <ion-title>Ionic CropperJS 2</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="secondary" (click)="save()">
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
	<input type="file" id="fileLoader" #fileLoader name="files" title="Load File" hidden />

        <button ion-button outline icon-left (click)="openModal()">
            <ion-icon name="refresh"></ion-icon> Open modal
        </button>

</ion-content>
